{% extends "base.html" %}

{% block title %}
    La mia libreria
{% endblock %}


{% block content %}
    {% if autore %}
        <h1>Autore: {{autore}}</h1>
    {% elif genere %}
        <h1>Genere: {{genere}}</h1>
    {% else %}
        <h1>La mia libreria</h1>
    {% endif %}
    <p>*****************************************************************</p>
    <dl>
    {% for libro in libri %}
        <dt><strong>"{{ libro.Nome }}"</strong></dt>
            <dd>Autore:
                <ul>
                    {% for autori in libro.autore.all %}
                        <li><a href="autori/{{autori.id}}">{{ autori }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            <dd>Genere:
                <ul>
                    {% for genere in libro.genere.all %}
                        <li><a href="generi/{{genere.id}}">{{ genere }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
            <dd>Data acquisto: {{libro.Data_acquisto|date:"j F \d\e\l Y"}}</dd>
            <p>*****************************************************************</p>
    {% endfor %}
    </dl>
{% endblock %}

